@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-gray-100: #f3f4f6;
    --color-gray-800: #1f2937;
}

body {
    background-color: var(--color-gray-100);
    color: var(--color-gray-800);
}